body {
    background: antiquewhite;
}

div span {
    color: brown;
}

div div span {
    color: red;
}

h1 {
    font-size: 50px;
}

p {
    color: darkkhaki;
}

.odkaz {
    text-decoration: underline wavy blue 5px;
    font-size: 30px;
}

#zelenej paragraph {
    color: green;
}